
body {
  /*background: url(../img/bg2.jpg) no-repeat center center fixed;*/
  background: url(../img/bus-stop-759576.jpg) no-repeat center bottom fixed;
  background-size: 60%;
}

.favoritos {
  padding-top: 20px;
}

.main {
  padding-top: 70px; 
}

.slogan {
  text-align:center;
}