
.icon {
  font-size: 150%;
}

.no-bottom {
  border-bottom: none;
}

table {
  width:100%;
}

.new {
  text-align: right;
}

.top-bar-section ul li.hover > a {
  background: #0E4A58;
}

.top-bar-section ul li.active > a {
  background: #0F4B5F;
}

.top-bar-section li .small_menu {
  line-height:43px;
  height:43px;
}

.slogan {
  text-align:center;
}

.state0 {
  color: red;
}

.state1 {
  color: green;
}

.state2 {
  color: blue;
}

.main_body {
  padding-top: 20px; 
}

.change-label {
  text-align: right; 
  vertical-align: middle;
}
