  <div class="row">
    <div class="large-12 columns">
      <div class="large-9 columns">
        <form>
          <div class="small-5 columns">
            <input type="text" placeholder="e-mail">
          </div>
          <div class="small-5 columns">
            <input type="text" placeholder="Nombre">
          </div>
          <div class="small-2 columns">
            <a href="#" class="button small prefix">Filtrar</a>
          </div>
        </form>
      </div>
      <div class="large-2 columns large-offset-1 new">
        <a data-reveal-id="newUserModal"> <i class="foundicon-plus">Nuevo</i> </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <table>
        <thead>
          <tr>
            <th width="200">Email</th>
            <th width="250">Nombre</th>
            <th width="63">Estado</th>
            <th>Grupos</th>
            <th width="90">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>user@example.com</td>
            <td>Juan Pablo Lopez</td>
            <td>Activo</td>
            <td>
              <span class="radius secondary label">Default</span>
              <span class="radius secondary label">Admin</span>
              <span class="radius secondary label">Otro X</span>
            </td>
            <td> 
                <a data-reveal-id="editUserModal">
                  <i class="foundicon-edit icon" data-tooltip class="has-tip" title="Editar"></i>
                </a> 
                <a> 
                  <i class="foundicon-refresh icon" data-tooltip class="has-tip" title="Resetear Password"></i>
                </a> 
                <a>
                  <i class="foundicon-remove icon" data-tooltip class="has-tip" title="Eliminar"></i>
                </a> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="newUserModal" class="reveal-modal" ng-include src="'partials/users/new.html'" ng-controller="UserNewCtrl">
  </div>

  <div id="editUserModal" class="reveal-modal" ng-include src="'partials/users/edit.html'" ng-controller="UserEditCtrl">
  </div>