<div class="row">
  <div class="large-12 small-centered columns">
    <h2>Nuevo Usuario</h2>
  </div>
</div>

<div class="row">
  <div class="large-6 small-centered columns">
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>