<div ng-controller="StopsCtrl" ng-init="index()">
  <div class="row">
    <div class="large-12 columns">
      <div class="large-9 columns">
        <form>
          <div class="small-5 columns">
            <input type="text" placeholder="e-mail">
          </div>
          <div class="small-5 columns">
            <input type="text" placeholder="Nombre">
          </div>
          <div class="small-2 columns">
            <a href="#" class="button small prefix">Filtrar</a>
          </div>
        </form>
      </div>
      <div class="large-2 columns large-offset-1 new">
        <a data-reveal-id="newStopModal"> <i class="foundicon-plus">Nuevo</i> </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <table>
        <thead>
          <tr>
            <th width="50">Id</th>
            <th width="50">Codigo</th>
            <th width="50">Línea</th>
            <th>Descripcion</th>
            <th width="50">Diff</th>
            <th width="90">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stop in stops">
            <td>{{stop.id}}</td>
            <td>{{stop.code}}</td>
            <td>{{stop.line_code}}</td>
            <td>{{stop.description}}</td>
            <td>{{stop.diff}}</td>
            <td> 
                <a data-reveal-id="editStopModal">
                  <i class="foundicon-edit icon" data-tooltip class="has-tip" title="Editar" ng-click="show(stop)"></i>
                </a> 
                <a data-reveal-id="removeStopModal">
                  <i class="foundicon-remove icon" data-tooltip class="has-tip" title="Eliminar" ng-click="show(stop)"></i>
                </a> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="newStopModal" class="reveal-modal" ng-include src="'partials/stops/new.html'">
  </div>

  <div id="editStopModal" class="reveal-modal" ng-include src="'partials/stops/edit.html'">
  </div>

  <div id="removeStopModal" class="reveal-modal" ng-include src="'partials/stops/remove.html'">
  </div>


</div>
