<div class="row">
  <div class="large-12 small-centered columns">
    <h2>Nueva Parada</h2>
  </div>
</div>

<form ng-submit="create()">

<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-8 small-centered columns">
        <div id="newStopMessage" class="alert-box alert radius" style="display: none;">{{ message }}</div>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Código de parada</label>
      </div>
      <div class="small-9 columns">
        <input type="text"  name="stop_code" placeholder="i.e: AB21" ng-model="stop.code" required >
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Descripcion</label>
      </div>
      <div class="small-9 columns">
        <input type="text" name="description" placeholder="i.e: San Martin y Mendoza" ng-model="stop.description" required >
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Tiempo diferencial en segundos</label>
      </div>
      <div class="small-9 columns">
        <input type="text" name="diff" placeholder="i.e: 140" ng-model="stop.diff" required >
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Line id</label>
      </div>
      <div class="small-9 columns">
        <input type="text" name="line_id" placeholder="i.e: 12" ng-model="stop.line_id" required >
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
      <div class="small-6 small-centered columns">
        <button type="submit" class="success expand">Crear</button>
      </div>
  </div>
</div>
</form><a class="close-reveal-modal">&#215;</a>
