<div class="row">
  <div class="large-12 small-centered columns">
    <h2>Favoritos.</h2>
  </div>
</div>

<div class="row">
  <div class="large-10 small-centered columns">
    <table class="responsive">
      <thead>
        <tr>
          <th width="80">Linea</th>
          <th width="500">Parada</th>
          <th width="400">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="favorite in favorites">
          <td>{{favorite.line}}</td>
          <td>{{favorite.stop}}</td>
          <td>
            <ul class="button-group radius">
              <li><a href="#" class="small button success" data-reveal-id="resultModal">Buscar</a></li>
              <li><a href="#" class="small button alert">Eliminar</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>