<div class="row">
  <div class="large-12 large-centered columns">
    <h2>Resultado.<small>Colectivos de la linea 108 en los próximos 10 minutos</small></h2>
  </div>
</div>
<div class="row">
  <div class="large-6 large-centered columns">
    <table>
      <thead>
        <tr>
          <th width="100">Linea</th>
          <th width="500">Parada</th>
          <th width="100">Hora</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in results">
          <td>{{result.line}}</td>
          <td>{{result.stop}}</td>
          <td>{{result.time}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="large-2 push-10 columns">
    <a href="#" class="small button success">+ Favoritos</a>
  </div>
</div>
<a class="close-reveal-modal">&#215;</a>
