<div ng-controller="BusesCtrl" ng-init="index()">

  <div class="row">
    <div class="large-12 columns">
      <div class="large-9 columns">
        <form>
          <div class="small-5 columns">
            <input type="text" placeholder="e-mail">
          </div>
          <div class="small-5 columns">
            <input type="text" placeholder="Nombre">
          </div>
          <div class="small-2 columns">
            <a href="#" class="button small prefix">Filtrar</a>
          </div>
        </form>
      </div>
      <div class="large-2 columns large-offset-1 new">
        <a data-reveal-id="newBusModal"> <i class="foundicon-plus">Nuevo</i> </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <table>
        <thead>
          <tr>
            <th width="50">Linea</th>
            <th>Patente</th>
            <th width="90">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="bus in buses">
            <td>{{bus.line_code}}</td>
            <td>{{bus.code}}</td>
            <td> 
              <a data-reveal-id="editBusModal">
                <i class="foundicon-edit icon" data-tooltip class="has-tip" title="Editar" ng-click="show(bus)"></i>
              </a> 
              <a data-reveal-id="removeBusModal">
                <i class="foundicon-remove icon" data-tooltip class="has-tip" title="Eliminar" ng-click="show(bus)"></i>
              </a> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="newBusModal" class="reveal-modal expand" ng-include src="'partials/buses/new.html'">
  </div>

  <div id="editBusModal" class="reveal-modal" ng-include src="'partials/buses/edit.html'">
  </div>

  <div id="removeBusModal" class="reveal-modal" ng-include src="'partials/buses/remove.html'">
  </div>

</div>