<div class="row">
  <div class="large-12 small-centered columns">
    <h3 class="slogan">Agregar Nuevo Bus </h3>
  </div>
</div>

<form ng-submit="create()">

<div class="row">
  <div class="small-12 columns">
      <div class="small-8 small-centered columns">
        <div id="newBusMessage" class="alert-box alert radius" style="display: none;">{{ message }}</div>
      </div>
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Código de linea</label>
      </div>
      <div class="small-9 columns">
        <input type="text"  name="line" placeholder="i.e: 12" ng-model="bus.line" required >
      </div>
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Patente</label>
      </div>

      <div class="small-9 columns">
        <input type="text" name="code" placeholder="i.e: BSA-724" ng-model="bus.code" required >
      </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
      <div class="small-6 small-centered columns">
        <button type="submit" class="success expand">Crear</button>
      </div>
  </div>
</div>
</form><a class="close-reveal-modal">&#215;</a>
