<div class="row alert-box secondary radius">
  <div class="large-12 small-centered columns">
    <h3 class="slogan">Are you sure you want to delete this location? </h3>
  <div>
  <div class="small-12 small-centered columns">
    <div class="small-3 columns push-2">
        <a href="" class="button radius success expand" data-ng-click="remove(false)">No</a>
    </div>
    <div class="small-3 columns pull-2">
        <a href="" class="button alert radius expand" data-ng-click="remove(true)">Yes</a>
    </div>
  </div>
</div>
