
<link rel="stylesheet" href="css/kaity_admin.css" />

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name"><h1><a href="#">BusTime v.0.1 <small> Pergamino</small></a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section" ng-controller="MenuCtrl">
    <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li ng-class="{ active: isCurrentPath('/admin/buses') }"><a href="#/admin/buses" class="small_menu"><i class="foundicon-photo menu">  Colectivos</i></a></li>
        <li class="divider"></li>
        <li ng-class="{ active: isCurrentPath('/admin/stops') }"><a href="#/admin/stops" class="small_menu"><i class="foundicon-location"> Paradas</i></a></li>
        <li class="divider"></li>
        <li ng-class="{ active: isCurrentPath('/admin/users') }"><a href="#/admin/users" class="small_menu"><i class="foundicon-address-book"> Usuarios</i></a></li>
        <li class="divider"></li>
        <li ng-class="{ active: isCurrentPath('/admin/auditors') }"><a href="#/admin/auditors" class="small_menu"><i class="foundicon-graph"> Auditoria</i></a></li>
        <li class="divider"></li>
      </ul>
      <ul class="right">
        <li class="has-dropdown" ng-controller="SessionCtrl" ng-init="check_can_admin()">
          <a href="#">{{email}}</a>
          <ul class="dropdown">
            <li><a href="#" class=""><i class="foundicon-settings"> Perfil</i></a></li>
            <li><a href="#" class="" ng-click="logout()"><i class="foundicon-error"> Logout</i></a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

<div class="row">
  <div class="small-12 columns main_body" ui-view>
    <div class="row">
      <div class="small-12 columns">
        <h3 class="subheader slogan">Bienvenidos a la interfaz de administracion</h3>
      </div>
    </div>
  </div>
</div>
