<link rel="stylesheet" href="css/kaity.css" />

<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">BusTime v.0.1 <small> Pergamino</small></a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left" ng-controller="SessionCtrl">
      <li class="has-form" ng-if="is_logged_in === true">
        <a id="btnAdmin" href="#/admin/buses"  class="button radius small alert">Administracion</a>
      </li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right" ng-controller="SessionCtrl">
      <li class="has-form" ng-if="is_logged_in != true">
        <a id="btnLogin" href="#" class="button radius small success" data-reveal-id="loginModal">Login / Sign Up</a>
      </li>
      <li class="has-form" ng-if="is_logged_in === true">
        <a id="btnFavoritos" href="#"  class="button radius small success" data-reveal-id="favoriteModal">Favoritos</a>
      </li>

      <li class="has-dropdown" ng-if="is_logged_in === true">
        <a href="#">{{email}}</a>
        <ul class="dropdown">
          <li><a href="#"><i class="foundicon-settings"> Perfil</i></a></li>
          <li><a href="#" ng-click="logout()"><i class="foundicon-error"> Logout</i></a></li>
        </ul>
      </li>

    </ul>
  </section>
</nav>

<div class="alert-box alert " style="display: none;">{{ message }}</div>

  <div class="row">
    <div class="small-12 columns">
      <div class="large-6 small-10 small-centered columns">
        <h3 class="subheader slogan">Don't let aliens eat you</h3>
      </div>
    </div>
  </div>

  <div class="row main">
    <div class="large-12 small-12 columns">
        <div class="large-5 small-12 push-1 columns">
          <input type="text" id="right-label" placeholder="codigo de linea">
        </div>
        <div class="large-5 small-12 pull-1 columns">
          <input type="text" id="right-label" placeholder="Codigo de parada">
        </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
        <div class="large-6 small-10 small-centered columns">
          <a href="#" class="button radius expand success" data-reveal-id="resultModal">Buscar</a>
        </div>
    </div>
  </div>


  <div id="resultModal" class="reveal-modal" ng-include src="'partials/results.html'" ng-controller="ResultListCtrl">
  </div>

  <div id="favoriteModal" class="reveal-modal" ng-include src="'partials/favorites.html'" ng-controller="FavoriteListCtrl">
  </div>

  <div id="loginModal" class="reveal-modal" ng-include src="'partials/main/login.html'" ng-controller="LoginCtrl">
  </div>
  <script type="text/javascript">
    $('#loginModal').bind('closed', function() {
      $('#loginMessage').hide();
    });
  </script>
