

<div class="row">
  <div class="large-12 small-centered columns">
    <h3 class="slogan">Log In/Sign Up </h3>
  </div>
</div>

<div class="row">

  <div class="large-6 columns">
    
    <form>
      <fieldset>
        <legend>Log In</legend>

        <div id="loginMessage" class="alert-box alert radius" style="display: none;">{{ message }}</div>

        <input type="text" name="email" placeholder="email" ng-model="credentials.email" required >
        <input type="password"  name="password" placeholder="password" ng-model="credentials.password" required >
        <button type="button" class="success expand" ng-click="login()">LogIn</button>
      </fieldset>
    </form>
  </div>
  <div class="large-6 columns">
    <form>
      <fieldset>
        <legend>Sign Up</legend>

        <div id="signUpMessage" class="alert-box alert radius" style="display: none;">{{ messageSignUp }}</div>

        <input class="has-tip" title="Te enviamos la clave al mail" data-tooltip="" type="text" name="email" placeholder="email" ng-model="newuser.email" required >
        <button type="button" class="success expand" ng-click="signup()">Sign Up Now! </button>
      </fieldset>
    </form>


  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>