<div class="row">
  <div class="large-12 columns">
    <div class="large-9 columns">
      <form>
        <div class="small-5 columns">
          <input class="from" type="text" placeholder="e-mail" ng-model="search_params.from">
        </div>
        <div class="small-5 columns">
          <input class="to" type="text" placeholder="Nombre" ng-model="search_params.to">
        </div>
        <div class="small-2 columns">
          <a href="" class="button small prefix" ng-click="search()">Filtrar</a>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Objeto</th>
          <th>Accion</th>            
          <th>User</th>
          <th>Fecha</th>
          <th>Cambio</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="audit in audits">
          <td>{{audit.id}}</td>
          <td><label data-tooltip class="has-tip no-bottom" title="Ver historial del objeto {{audit.object_class}} {{audit.object_id}}" ng-click="get_history(audit.object_class, audit.object_id)" data-reveal-id="historyModal">{{audit.object_class}} ({{audit.object_id}}) <i class="general foundicon-graph icon"> </i></label></td>
          <td>
            <label ng-if="audit.action === 'update'" data-tooltip class="has-tip no-bottom" title="Este cabio fue un Update"><i class="general foundicon-refresh icon"> {{audit.action}}</i></label>
            <label ng-if="audit.action === 'destroy'" data-tooltip class="has-tip no-bottom" title="Se elimino el objeto"><i class="general foundicon-remove icon"> {{audit.action}}</i></label>
            <label ng-if="audit.action === 'create'"><i class="general foundicon-plus icon"> {{audit.action}}</i></label>
            
          </td>
          <td>{{audit.username}}</td>
          <td>{{audit.date}}</td>
          <td>
            <div class="row" ng-repeat="(attr_changed,values) in audit.changes">
              <div class="small-6 columns">
                <label class="change-label">{{attr_changed}} :</label>
              </div>
              <div class="small-6 columns">
                <div ng-if="imAnUpdate(values)">
                  <label ng-repeat="value in values" class="{{'state' + $index}}">
                    {{value}}
                  </label>
                </div>
                <div ng-if="! imAnUpdate(values)">
                  <label class="state2">
                    {{values}}
                  </label>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>