<div class="row">
  <div class="large-12 small-centered columns">
    <h3 class="slogan">Historial de {{history_object.class}}({{history_object.id}})</h3>
  </div>
</div>

<div class="row">

  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Accion</th>            
          <th>User</th>
          <th>Fecha</th>
          <th>Cambio</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="audit in history_audits">
          <td>{{audit.id}}</td>
          <td>
            <label ng-if="audit.action === 'update'" data-tooltip class="has-tip no-bottom" title="Este cabio fue un Update"><i class="general foundicon-refresh icon"> {{audit.action}}</i></label>
            <label ng-if="audit.action === 'destroy'" data-tooltip class="has-tip no-bottom" title="Se elimino el objeto"><i class="general foundicon-remove icon"> {{audit.action}}</i></label>
            <label ng-if="audit.action === 'create'"><i class="general foundicon-plus icon"> {{audit.action}}</i></label>            
          </td>
          <td>{{audit.username}}</td>
          <td>{{audit.date}}</td>
          <td>
            <div class="row" ng-repeat="(attr_changed,values) in audit.changes">
              <div class="small-6 columns">
                <label class="change-label">{{attr_changed}} :</label>
              </div>
              <div class="small-6 columns">
                <div ng-if="imAnUpdate(values)">
                  <label ng-repeat="value in values" class="{{'state' + $index}}">
                    {{value}}
                  </label>
                </div>
                <div ng-if="! imAnUpdate(values)">
                  <label class="state2">
                    {{values}}
                  </label>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>