<div class="row" ng-controller="AuditorsCtrl" ng-init="index()">
  <div class="large-12 columns">
    <div class="section-container auto" data-section>
      <section class="active">
        <p class="title" data-section-title><a href="" ng-click="index()" >General</a></p>
        <div class="content" data-section-content ng-include src="'partials/auditors/general.html'">
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="" ng-click="buses()" >Buses</a></p>
        <div class="content" data-section-content ng-include src="'partials/auditors/general.html'">
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="" ng-click="users()" >Users</a></p>
        <div class="content" data-section-content ng-include src="'partials/auditors/general.html'">
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="" ng-click="sessions()" >Sesiones</a></p>
        <div class="content" data-section-content ng-include src="'partials/auditors/sessions.html'">
        </div>
      </section>
    </div>
  </div>
  
  <div id="historyModal" class="reveal-modal" ng-include src="'partials/auditors/history.html'">
  </div>
</div>

