<div class="row">
  <div class="large-12 columns">
    <div class="large-9 columns">
      <form>
        <div class="small-5 columns">
          <input type="text" placeholder="e-mail">
        </div>
        <div class="small-5 columns">
          <input type="text" placeholder="Nombre">
        </div>
        <div class="small-2 columns">
          <a href="#" class="button small prefix">Filtrar</a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Class</th>
          <th>Object id</th>
          <th>Accion</th>            
          <th>User</th>
          <th>Fecha</th>
          <th>Cambio</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="audit in audits">
          <td>{{audit.id}}</td>
          <td>{{audit.object_class}}</td>
          <td>{{audit.object_id}}</td>
          <td>{{audit.action}}</td>
          <td>{{audit.username}}</td>
          <td>{{audit.date}}</td>
          <td>
            <div class="row" ng-repeat="(attr_changed,values) in audit.changes">
              <div class="small-6 columns">
                <label> {{attr_changed}}</label>
              </div>
              <div class="small-6 columns">
                <div ng-if="zaraza(values)">
                  <label ng-repeat="value in values" class="{{'state' + $index}}">
                    {{value}}
                  </label>
                </div>
                <div ng-if="! zaraza(values)">
                  <label class="state2">
                    {{values}}
                  </label>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>